.search-result-container {
    margin: 20px 0px;
    .result-preview {
        color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        background: #ffffff24;
        border-radius: 5px;
        font-size: 16px;
        justify-content: space-between;

        button {
            background: #ffffff70;
            padding: 4px 21px;
            border: none;
            border-radius: 23px;
            color: black;
            font-size: 15px;
            cursor: pointer;
            text-transform: capitalize;
            transition: box-shadow 0.2s;
            &:hover {
                box-shadow: 1px 0px 5px 3px #ffffff4d;
            }
        }
    }
}
