.search-container {
    margin-left: 51px;
    input {
        height: 32px;
        padding: 1px 12px;
        width: 380px;
        font-size: 16px;
        font-family: "Quicksand-Light";
        outline: none;
        border-radius: 4px;
        border: none;
        font-weight: 700;
        color: #e4e0e0;
        background-color: #41414154;
        margin-bottom: 38px;
        box-shadow: 0 0 5px 1px #ffffff17;
        @include for-mobile-layout {
            width: 249px;
        }
    }
}
