table {
    text-transform: uppercase;

    width: 800px;
    th {
        height: 40px;
        background: gray;
    }
    td {
        padding: 10px;
        background-color: #efeeee;
    }
    tr {
        img {
            object-fit: cover;
            height: 100px;
            width: 100px;
        }
    }
}
